<div class="container p-3">
    <h1>Olá, <%= current_user.username %></h1>
    <h5>Você na página inicial</h5>
    
    <p>
        A sessão irá expirar em: <div class="expiration-time" data-session="60">60</div>
    </p>
</div>