<div class="container">
    <h1 class="mt-5">Criar Novo Usuário</h1>
  
    <form action="/user/create" method="post">
      <!-- Use um campo de token CSRF para segurança -->
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  
      <div class="form-group">
        <label for="user_name">Username:</label>
        <input type="text" class="form-control" id="user_name" name="user[username]" required>
      </div>

      <div class="form-group">
        <label for="user_email">Email:</label>
        <input type="text" class="form-control" id="user_email" name="user[email]" required>
      </div>
  
      <div class="form-group">
        <label for="user_password">Senha:</label>
        <input type="password" class="form-control" id="user_password" name="user[password]" required>
      </div>
  
      <div class="form-group">
        <label for="user_password_confirmation">Confirme a Senha:</label>
        <input type="password" class="form-control" id="user_password_confirmation" name="user[password_confirmation]" required>
      </div>
  
      <div class="form-group mt-3">
        <a class="btn btn-outline-dark" href="/login" style="float:left">Voltar</a>
        <input type="submit" class="btn btn-primary" style="float:right" value="Criar">
      </div>
    </form>
</div>
  